/* Layout >>>>>>>>>>>>>>>>>>>>>>>>>> */

/* Variáveis */
:root {
    --azulClaro: #9cdcfe;
    --azulMedio: #3498db;
    --branco: #fff;
    --cinzaClaro: #e8e8e8;
    --cinzaMedio: #a1a1a1;
    --cinzaEscuro: #343538;
    --dourado: #ffc90e;
    --preto: #000;
    --rosa: #bc82b6;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Opens Sans", sans-serif;
}

.container {
    display: flex;
    margin: 0 auto;
}

.btn {

    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 700;
    background-color: var(--azulMedio);
    padding: 10px 40px;
    color: var(--branco);
    border-radius: 25px;
    border: 2px solid var(--branco)
}

/* Cartão */
.card {
    width: 341px;
    height: 520px;
    background-color: var(--cinzaClaro);
    margin-bottom: 25px;
    border: 2px solid var(--azulClaro);
    text-align: center;
}


.card h2 {
    font-size: 1.3rem;
    margin: 15px 0px;
}

.card p {
    color: var(--cinzaEscuro);
    text-align: left;
    padding: 0px 15px 30px 15px;
}

address #whats {
    font-size: 1.7rem;
}



/* Fim - Layout <<<<<<<<<<<<<<<<<<<< */


/* Smartphone Portrait >>>>>>>>>>>>> */

/* cabeçalho */
header {
    height: 65px;
    background-color: var(--preto);
}

#logo img {
    width: 115px;
    height: 115px;
}

#check {
    display: none;
}

label {
    color: rgba(156, 220, 254, 0.75);
    font-size: 3rem;
    position: fixed;
    right: 15px;
    top: 5px;
}

nav ul {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 60px;
    right: -65%;
    width: 65%;
    transition: all 0.5s;
}

/* ação para a caixa checkbox */
/* quando selecionado mudar propriedades ul */
#check:checked~ul {
    right: 0px;
}

nav ul li {
    list-style: none;
    padding: 20px;
    text-align: right;
    border-bottom: 1px solid var(--cinzaEscuro);
}

nav ul li a {
    text-decoration: none;
    color: var(--azulClaro);
}

/* Principal */
main {
    height: 50vh;
    background: url(./img/foto-destaque.jpg);
    background-size: cover;
    background-position: center;
}

main .container {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1 {
    color: var(--cinzaClaro);
    font-family: "Koulen", sans-serif;
    text-shadow: 0px 5px 10px var(--preto), 0px 10px 10px rgba(0, 0, 0, 0.15), 0px 15px 15px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);

}

main h2 {
    color: var(--cinzaMedio);
    font-size: 1.2rem;
    font-weight: 1000;
    text-shadow: 0px 5px 10px var(--preto), 0px 10px 10px rgba(0, 0, 0, 0.15), 0px 15px 15px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;

}

/* Destaque */
#destaque {
    padding: 40px 10px;
    background: url(./img/Imagem-de-fundo.jpg);
    background-size: cover;
    background-position: center;
}

#destaque .container {
    flex-direction: column;
}

#hero {
    text-align: center;
}

#hero img {
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
}

#hero-text h2 {
    margin-bottom: 10px;
    color: var(--dourado);
}

#hero-text {
    color: var(--branco);
}

.topics {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.topics p {
    margin-left: 15px;
    color: var(--branco);
}


/* one page */


#onepage .container {
    display: flex;
    align-items: center;
    flex-direction: column;

}


#onepage {
    padding: 50px 10px 50px 10px;
}

#onepage p {
    padding: 25px;
    text-align: center;
}

#onepage h2 {
    text-align: center;
}

#video iframe {
    width: 350px;
    height: 200px;
}

/* cardapio */


#cardapio {
    padding: 50px 10px;
    background: url(./img/Imagem-de-fundo.jpg);
    background-size: cover;
    background-position: left;

}


#textofaixa h2 {
    margin-bottom: 10px;
    color: var(--dourado);
    text-align: center;
}

#textofaixa p {
    margin-bottom: 40px;
    color: var(--cinzaClaro);
    text-align: center;
    margin: 30px;

}


.qrcode {
    display: none;

}

.botao {

    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 700;
    background-color: var(--dourado);
    padding: 10px 20px;
    color: var(--branco);
    border-radius: 25px;
    border: 2px solid var(--branco);
    display: block;
    margin: 0 auto;
    /* centraliza */
    width: fit-content;
}

/* Cartões */
#montagem {
    background-color: var(--roxo);
    padding: 50px 0px 25px 0px;
}

#montagem .container {
    flex-direction: column;
    align-items: center;
}

#montagem .btn {
    box-shadow: none;
    width: 240px;
    justify-content: center;
}

/* rodapé */

address {
    padding: 30px 10px 15px 20px;
    background-color: var(--cinzaMedio);
    color: var(--branco);
}


address .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


#contato,
#endereco,
#googleMaps {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


#contato a,
#endereco a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--branco);
}


address img {
    width: 36px;
    height: 36px;
    padding-top: 2px;
    margin-right: 20px;
    margin-bottom: 10px;
}

#iconelocal {
    display: none;
}


#googleMaps iframe {
    display: none;
}

#social img {
    width: 50px;
    height: 50px;
}


/*  FOOTER  */
footer {
    background-color: var(--cinzaClaro);
    color: var(--preto);
    padding: 10px px;
}

footer .container {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    

}

.container.Flex5 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    width: 100%;
    padding: 15px 0;
}

#contato iframe {
    display: none;
}

#contato .container {
    flex-direction: column;
}

#contato {
    background-position: center;
    background-size: cover;
    font-family: "Lato", sans-serif;
    font-weight: 90;
}

#bloco2 {
    margin: 10px 0px 0px 20px;
}

#bloco2 img {
    margin: 5px 0px;
}

#iconloc {
    display: none;
}

#contato img {
    align-items: center;
    width: 35px;
    height: 35px;
}

#bloco3 {
    margin: 10px 0px 20px 20px;
}

#bloco3 img {
    margin: 7px 0px;
}











/* Fim - Smartphone Portrait <<<<<<< */


/* Smartphone Landscape >>>>>>>>>>>> */
@media (min-width: 576px) {

    /* Layout */
    .container {
        max-width: 540px;
    }

    /* Cabeçalho */
    nav ul {
        width: 40%;
        right: -40%;
    }

    /* Principal */
    main {
        height: 75vh;
    }

    main h1 {
        font-size: 2.75rem;
    }

    main h2 {
        font-size: 2.5rem;
    }

    /* Destaque */
    #destaque {
        padding: 50px 0px;
    }

    #destaque .container {
        flex-direction: row;
        align-items: center;

    }

    #hero {
        text-align: left;
    }

    #hero img {
        width: 200px;
        height: 200px;
        margin: 0px 50px 0px 0px;
    }

    #video iframe {
        width: 450px;
        height: 250px;
    }

     /*  RODAPÉ  */
    address {
        padding: 30px 10px 15px 20px;
        background-color: var(--cinzaMedio);
        color: var(--branco);
    }


    address .container {
        
    flex-direction: column;

    }


    #contato,
    #endereco,
    #googleMaps {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        
    }


    #contato a,
    #endereco a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--branco);
    }


    address img {
        width: 36px;
        height: 36px;
        padding-top: 2px;
    }


    #contato p,
    #endereco p {
        margin: 4px 0;
    }


    #googleMaps iframe {
        border-radius: 8px;
        width: 300px;
        height: 200px;
    
    }

    /* FOOTER */
    footer {
        background-color: var(--cinzaMedio);
        color: var(--preto);
        padding: 30px 20px;
        align-items: center;
    }

    footer .container {
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
    }

    #social img {
        width: 30px;
        height: 30px;
        margin-bottom: 25px;

    }

    #rodape {
    background-color: var(--cinzaEscuro);
        background-attachment: fixed;
        padding: 50px 10px;
        align-items: center;
}

 #qrcode {
        margin-left: 20px;
    }



}



/* Fim - Smartphone Landscape <<<<<< */


/* Tablet Portrait >>>>>>>>>>>>>>>>> */
@media (min-width: 768px) {

    /* Layout */
    .container {
        max-width: 720px;
    }

    /* Principal */
    main h1 {
        font-size: 3.9rem;
    }

    main h2 {
        font-size: 3rem;
    }

    section p {
        font-size: 1.5rem;
    }

    section h2 {
        font-size: 2.5rem;
    }
    /* Rodapé */
 #rodape iframe {
    display: flex;
    margin: 20px;
 }

 
 #iconemapa .container {
    display: none;
 }

 address {
    padding: 30px 10px 15px 20px;
    background-color: var(--cinzaEscuro);
}
}

/* Fim - Tablet Portrait <<<<<<<<<<< */


/* Tablet Landscape >>>>>>>>>>>>>>>> */
@media (min-width: 992px) {

    /* Layout */
    .container {
        max-width: 960px;
    }

    /* Cartões */
    #montagem .container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .card {
        margin-right: 25px;
    }

    /* rpdape */

    address {
        padding: 30px 10px 15px 20px;
        background-color: var(--verdeclarinho);
        color: var(--branco);
    }

    address .container {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    #contato,
    #endereco,
    #googleMaps {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }




    address img {
        width: 36px;
        height: 36px;
        padding-top: 2px;
    }


    #contato p,
    #endereco p {
        margin: 1px 0;

    }


    #googleMaps iframe {
        border-radius: 8px;
        width: 300px;
        height: 200px;
    }



    .container.Flex5 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
     

}

/* Fim - Tablet Landscape <<<<<<<<<< */


/* Notebook / PC >>>>>>>>>>>>>>>>>>> */
@media (min-width: 1200px) {

    /* Layout */
    .container {
        max-width: 1140px;
        justify-content: space-between;
    }

    /* Cabeçalho */
    header {
        height: 100px;
    }

    #logo img {
        width: 194px;
        height: 194px;
    }

    label {
        display: none;
    }

    nav ul {
        position: static;
        width: 100%;
        height: auto;
        background-color: transparent;
        margin-top: 20px;
    }

    nav ul li {
        border: 0;
        float: left;
    }

    nav ul li a:hover {
        color: var(--dourado)
    }

    main {
        height: 50vh;
    }

    /* Destaque */

    #destaque {
        background-attachment: fixed;
    }

    #hero img {
        width: 400px;
        height: 400px;
    }

    section p {
        font-size: 1.5rem;
    }

    section h2 {
        font-size: 2.5rem;
    }

    /* one page */

    #onepage {
        padding: 50px 10px 50px 10px;
    }

    #onepage .container {
        display: flex;
        flex-direction: row;
    }

    #onepage p {
        padding: 55px;
    }

    /* faixa da empresa */

    #cardapio {
        background-attachment: fixed;
        padding: 90px 300px;
        align-items: center;

    }


    /* Cartões */
    .card {
        margin-right: 0;
    }

     #social img {
    width: 50px;
    height: 50px;
}


#rodape {
    background-color: var(--cinzaEscuro);
        background-attachment: fixed;
        padding: 50px 10px;
        align-items: center;
}

.contato {
    font-size: 9rem;
}


}





/* Fim - Notebook / PC <<<<<<<<<<<< */


/* Full HD / 4K >>>>>>>>>>>>>>>>>>> */
@media (min-width: 1400px) {

    /* Layout */
    .container {
        max-width: 1320px;
    }

    /* Principal */

    main h1 {
        font-size: 6rem;
    }

    main h2 {
        font-size: 4rem;
    }
}


/* Fim - Full HD / 4K <<<<<<<<<<<< */